body {
    font-family: Arial;
    padding: 20px;
}

.dark {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#hoverBox {
    width: 200px;
    height: 100px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}